<div class="col-md-4 col-md-offset-4">
  <h2>编辑电影</h2>

  <hr>

  <% if @movie.errors.any? %>
  <% @movie.errors.full_messages.each do |msg| %>
  <%= msg %>
  <% end %>
  <% end %>

  <%= form_for @movie do |f| %>

  电影
  <br>
  <%= f.text_field :title %>
  <br>
  简介
  <br>
  <%= f.text_area :description %>
  <br>

  <%= f.submit "我写好了！", :disable_with => '提交中。。。' %>
  <%end%>

</div>
