<div class="col-md-12">
  <div class="movie">
    <%= link_to("新增电影", new_movie_path, class:"btn btn-primary pull-right") %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>电影</td>
        <td>简介</td>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to(movie.title, movie_path(movie)) %></td>
        <td><%= movie.description %></td>
        <td><%= link_to("编辑", edit_movie_path(movie), class:"btn btn-sm btn-default") %></td>
        <td><%= link_to("删除", movie_path(movie),      class:"btn btn-sm btn-default",
                        method: :delete, data: { confirm: "确定要删除吗？" }) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
