<div class="col-md-12">
  <div class="movie">

    <span class= "pull-right">
      <% if current_user && current_user.add_favor?(@movie) %>
        <label class="label label-success"> 已收藏 </label>
        <%= link_to("取消收藏", quitfavor_movie_path(@movie), method: :post, class:"btn btn-primary")%>
        <%= link_to("写个评论", new_movie_comment_path(@movie), class:"btn btn-default pull-right")%>
      <% else %>
        <label class="label label-success"> 还未收藏 </label>
        <%= link_to("现在收藏", addfavor_movie_path(@movie), method: :post, class:"btn btn-primary")%>
      <% end %>
    </span>


    <% if current_user && current_user == @movie.user %>
    <%= link_to("编辑", edit_movie_path(@movie), class:"btn btn-primary pull-right") %>
  </div>
  <% end %>

  <h2> <%= @movie.title %></h2>
  <p> <%= @movie.description %></p>

  <table class="table">
    <thead>
      <tr>
        <th>影评内容</th>
        <th>发布者</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content%></td>
        <td><%= comment.user.email%></td>
        <td><%= comment.created_at%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @comments %>
  </div>

</div>
