<h1 class="text-center">我发布的电影</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>我的电影</th>
      <th>描述</th>
      <th>影评数</th>
      <th>发布时间</th>
      <th>更新时间</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td>#</td>
      <td><%= link_to(movie.title, movie_path(movie))%></td>
      <td><%= movie.description %></td>
      <td><%= movie.comments.count %></td>
      <td><%= movie.created_at%></td>
      <td><%= movie.updated_at%></td>
    </tr>
  <% end %>
</tbody>


</table>
